body{
	margin: 0;
	padding: 0;
}


/*styles for carousel*/
.slide1, .slide2, .slide3{
	position: absolute;
	width: 100%;
	height: 100%;
}
.tamil_carousel{
	text-transform: uppercase;
	font-family: verdana;
	letter-spacing: 16px;
	color: #fff;
	text-align: center;
	padding-top: 300px;
}
.slide1{
	background-image: url("SLIDE1.jpg");
	height: 100%;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	animation: fade1 16s infinite;
}
.slide2{
	background-image: url("statistics.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	animation: fade2 16s infinite;
}
.slide3{
	background-image: url("SLIDE2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	animation: fade3 16s infinite;
}
@keyframes fade1{
	0%{
	    opacity: 1;
	}
	25%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes fade2{
	0%{
	    opacity: 0;
	}
	25%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}
@keyframes fade3{
	0%{
	    opacity: 0;
	}
	25%{
		opacity: 0;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}