body{
	margin: 0;
	padding: 0;
}


/*styles for carousel*/
.slide1, .slide2, .slide3{
	position: absolute;
	width: 100%;
	height: 100%;
}
.tamil_carousel{
	text-transform: uppercase;
	font-family: verdana;
	letter-spacing: 16px;
	color: #fff;
	text-align: center;
	/*padding-top: 300px;*/
}
.slide1{
	background-image: url("SLIDE1.jpg");
	height: 100%;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	animation: fade1 16s infinite;
}
.slide2{
	background-image: url("statistics.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	animation: fade2 16s infinite;
}
.slide3{
	background-image: url("SLIDE2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	animation: fade3 16s infinite;
}
@keyframes fade1{
	0%{
	    opacity: 1;
	}
	25%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes fade2{
	0%{
	    opacity: 0;
	}
	25%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}
@keyframes fade3{
	0%{
	    opacity: 0;
	}
	25%{
		opacity: 0;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.navbar{
	opacity:0.5;
}
.dropdown-menu{
	background-color:black;
}
a:hover{
	color:black;
}
.navigate{
	margin-top:-20px;
	height: 650px;

}

.element-to-hide{
    visibility:hidden;
}


/*animator*/
.slideRight {
    visibility: visible;
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50% {
        transform: translateX(8%);
    }
    65% {
        transform: translateX(-4%);
    }
    80% {
        transform: translateX(4%);
    }
    95% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0%);
    }
}

#services {
	height:500px;
	color: #fff;
	background-color: #1E88E5;
}
#pencil {
	height:500px;
	color: #fff;
	background-color: #673ab7;
}
#cls_mgt_sys {
	height:500px;
	color: #fff;
	background-color: #ff9800;
}
#about {
	height:500px;
	color: #fff;
	background-color: #00bcd4;
}
#contact {
	height:500px;
	color: #fff;
	background-color: #009688;
}


@font-face {
  font-family: "seotheme";
  src:url("fonts/seotheme.eot");
  src:url("fonts/seotheme.eot?#iefix") format("embedded-opentype"),
    url("fonts/seotheme.woff") format("woff"),
    url("fonts/seotheme.ttf") format("truetype"),
    url("fonts/seotheme.svg#seotheme") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="seosight-"]:before,
[class*=" seosight-"]:before {
  font-family: "seotheme" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.seosight-add-button:before {
  content: "\61";
}
.seosight-wifi:before {
  content: "\62";
}
.seosight-analytics:before {
  content: "\63";
}
.seosight-antenna:before {
  content: "\64";
}
.seosight-apps:before {
  content: "\65";
}
.seosight-arrows:before {
  content: "\66";
}
.seosight-at:before {
  content: "\67";
}
.seosight-backup:before {
  content: "\68";
}
.seosight-bag:before {
  content: "\69";
}
.seosight-bag-1:before {
  content: "\6a";
}
.seosight-bag-2:before {
  content: "\6b";
}
.seosight-bar-stats:before {
  content: "\6c";
}
.seosight-basket:before {
  content: "\6d";
}
.seosight-binary-code:before {
  content: "\6e";
}
.seosight-chip:before {
  content: "\6f";
}
.seosight-check-square:before {
  content: "\70";
}
.seosight-calendar:before {
  content: "\71";
}
.seosight-bug-free:before {
  content: "\72";
}
.seosight-bug:before {
  content: "\73";
}
.seosight-browser-visualization:before {
  content: "\74";
}
.seosight-browser-2:before {
  content: "\75";
}
.seosight-browser:before {
  content: "\77";
}
.seosight-bookmark:before {
  content: "\76";
}
.seosight-blogging:before {
  content: "\78";
}
.seosight-bitcoin:before {
  content: "\79";
}
.seosight-cloud-computing:before {
  content: "\7a";
}
.seosight-cloud-connection:before {
  content: "\41";
}
.seosight-cloud-connections:before {
  content: "\42";
}
.seosight-cloud-data:before {
  content: "\43";
}
.seosight-cloud-data-1:before {
  content: "\44";
}
.seosight-cloud-network:before {
  content: "\45";
}
.seosight-cloud-sync:before {
  content: "\46";
}
.seosight-coding:before {
  content: "\47";
}
.seosight-compass:before {
  content: "\48";
}
.seosight-compass-1:before {
  content: "\49";
}
.seosight-compass-2:before {
  content: "\4a";
}
.seosight-compass-3:before {
  content: "\4b";
}
.seosight-computer:before {
  content: "\4c";
}
.seosight-connections:before {
  content: "\4d";
}
.seosight-cup:before {
  content: "\4e";
}
.seosight-customer:before {
  content: "\4f";
}
.seosight-design:before {
  content: "\50";
}
.seosight-devices:before {
  content: "\51";
}
.seosight-diagonal-enlarge:before {
  content: "\52";
}
.seosight-distiller:before {
  content: "\53";
}
.seosight-document-security:before {
  content: "\54";
}
.seosight-document-security-1:before {
  content: "\55";
}
.seosight-document-settings:before {
  content: "\56";
}
.seosight-dollar:before {
  content: "\57";
}
.seosight-folders:before {
  content: "\58";
}
.seosight-folder:before {
  content: "\59";
}
.seosight-flag:before {
  content: "\5a";
}
.seosight-favorite:before {
  content: "\30";
}
.seosight-favorites-button:before {
  content: "\31";
}
.seosight-eye:before {
  content: "\32";
}
.seosight-euro:before {
  content: "\33";
}
.seosight-enlarge:before {
  content: "\34";
}
.seosight-email:before {
  content: "\35";
}
.seosight-efficency:before {
  content: "\36";
}
.seosight-downloading-from-smartphone:before {
  content: "\37";
}
.seosight-download:before {
  content: "\38";
}
.seosight-domain-registration:before {
  content: "\39";
}
.seosight-funnel:before {
  content: "\21";
}
.seosight-glasses:before {
  content: "\22";
}
.seosight-graph-search:before {
  content: "\23";
}
.seosight-group:before {
  content: "\24";
}
.seosight-high-volume:before {
  content: "\25";
}
.seosight-history-button:before {
  content: "\26";
}
.seosight-hourglass:before {
  content: "\27";
}
.seosight-hystogram:before {
  content: "\28";
}
.seosight-idea:before {
  content: "\29";
}
.seosight-image:before {
  content: "\2a";
}
.seosight-key:before {
  content: "\2b";
}
.seosight-keywords:before {
  content: "\2c";
}
.seosight-microscope:before {
  content: "\2d";
}
.seosight-microphone:before {
  content: "\2e";
}
.seosight-menu-button:before {
  content: "\2f";
}
.seosight-megaphone:before {
  content: "\3a";
}
.seosight-medal:before {
  content: "\3b";
}
.seosight-map:before {
  content: "\3c";
}
.seosight-mail-settings:before {
  content: "\3d";
}
.seosight-lock:before {
  content: "\3e";
}
.seosight-link:before {
  content: "\3f";
}
.seosight-light-bulb:before {
  content: "\40";
}
.seosight-letter:before {
  content: "\5b";
}
.seosight-laptop:before {
  content: "\5d";
}
.seosight-molecular:before {
  content: "\5e";
}
.seosight-monitoring:before {
  content: "\5f";
}
.seosight-mouse:before {
  content: "\60";
}
.seosight-music:before {
  content: "\7b";
}
.seosight-mute:before {
  content: "\7c";
}
.seosight-network:before {
  content: "\7d";
}
.seosight-new-file:before {
  content: "\7e";
}
.seosight-newspaper:before {
  content: "\5c";
}
.seosight-next-page:before {
  content: "\e000";
}
.seosight-no-bug:before {
  content: "\e001";
}
.seosight-note:before {
  content: "\e002";
}
.seosight-notification:before {
  content: "\e003";
}
.seosight-pin:before {
  content: "\e004";
}
.seosight-pie-graph-split:before {
  content: "\e005";
}
.seosight-pie-graph-1:before {
  content: "\e006";
}
.seosight-pie-graph:before {
  content: "\e007";
}
.seosight-pie-chart:before {
  content: "\e008";
}
.seosight-picture:before {
  content: "\e009";
}
.seosight-phone-shop:before {
  content: "\e00a";
}
.seosight-pay-per-click:before {
  content: "\e00b";
}
.seosight-paper-plane:before {
  content: "\e00c";
}
.seosight-padlock:before {
  content: "\e00d";
}
.seosight-order:before {
  content: "\e00e";
}
.seosight-open-book:before {
  content: "\e00f";
}
.seosight-online-shop:before {
  content: "\e010";
}
.seosight-pin-1:before {
  content: "\e011";
}
.seosight-pin-settings:before {
  content: "\e012";
}
.seosight-play-button:before {
  content: "\e013";
}
.seosight-play-button-1:before {
  content: "\e014";
}
.seosight-power:before {
  content: "\e015";
}
.seosight-ranking:before {
  content: "\e017";
}
.seosight-refresh-button:before {
  content: "\e018";
}
.seosight-retweet:before {
  content: "\e016";
}
.seosight-screen:before {
  content: "\e019";
}
.seosight-search:before {
  content: "\e01a";
}
.seosight-search-1:before {
  content: "\e01b";
}
.seosight-search-engine:before {
  content: "\e01c";
}
.seosight-shopping-cart-1:before {
  content: "\e01d";
}
.seosight-shopping-cart:before {
  content: "\e01e";
}
.seosight-shopping:before {
  content: "\e01f";
}
.seosight-spider-web:before {
  content: "\e020";
}
.seosight-speedometer:before {
  content: "\e021";
}
.seosight-speech-bubbles:before {
  content: "\e022";
}
.seosight-speech-balloon:before {
  content: "\e023";
}
.seosight-shop:before {
  content: "\e024";
}
.seosight-shield:before {
  content: "\e025";
}
.seosight-social-media:before {
  content: "\e026";
}
.seosight-smartphone-4:before {
  content: "\e027";
}
.seosight-sharing-archives:before {
  content: "\e028";
}
.seosight-shared-folder:before {
  content: "\e029";
}
.seosight-smartphone-3:before {
  content: "\e02a";
}
.seosight-smartphone-2:before {
  content: "\e02b";
}
.seosight-settings:before {
  content: "\e02c";
}
.seosight-servers:before {
  content: "\e02d";
}
.seosight-smartphone-1:before {
  content: "\e02e";
}
.seosight-smartphone:before {
  content: "\e02f";
}
.seosight-server-and-cloud:before {
  content: "\e030";
}
.seosight-server:before {
  content: "\e031";
}
.seosight-sitemap:before {
  content: "\e032";
}
.seosight-side-menu:before {
  content: "\e033";
}
.seosight-security-data:before {
  content: "\e034";
}
.seosight-search-engine-1:before {
  content: "\e035";
}
.seosight-shopping-cart-2:before {
  content: "\e036";
}
.seosight-star:before {
  content: "\e037";
}
.seosight-tracker:before {
  content: "\e038";
}
.seosight-translation:before {
  content: "\e039";
}
.seosight-statistics:before {
  content: "\e03a";
}
.seosight-statistics-1:before {
  content: "\e03b";
}
.seosight-turn-right:before {
  content: "\e03c";
}
.seosight-typewriter:before {
  content: "\e03d";
}
.seosight-statistics-2:before {
  content: "\e03e";
}
.seosight-stats:before {
  content: "\e03f";
}
.seosight-upload-to-cloud:before {
  content: "\e040";
}
.seosight-strategy:before {
  content: "\e041";
}
.seosight-system:before {
  content: "\e042";
}
.seosight-user:before {
  content: "\e043";
}
.seosight-user-1:before {
  content: "\e044";
}
.seosight-tags:before {
  content: "\e045";
}
.seosight-target:before {
  content: "\e046";
}
.seosight-user-stats:before {
  content: "\e047";
}
.seosight-users:before {
  content: "\e048";
}
.seosight-target-1:before {
  content: "\e049";
}
.seosight-targeting:before {
  content: "\e04a";
}
.seosight-vertical-bar:before {
  content: "\e04b";
}
.seosight-vertical-bars:before {
  content: "\e04c";
}
.seosight-telephone:before {
  content: "\e04d";
}
.seosight-telephone-1:before {
  content: "\e04e";
}
.seosight-video:before {
  content: "\e04f";
}
.seosight-viral-marketing:before {
  content: "\e050";
}
.seosight-whistle:before {
  content: "\e051";
}
.seosight-browser-1:before {
  content: "\e052";
}
.seosight-message:before {
  content: "\e053";
}
.seosight-close:before {
  content: "\e054";
}
.seosight-upload-arrow:before {
  content: "\e055";
}
.seosight-arrows-1:before {
  content: "\e05d";
}
.seosight-target-search:before {
  content: "\e056";
}
.seosight-arrows-2:before {
  content: "\e057";
}
.seosight-business:before {
  content: "\e058";
}
.seosight-business-1:before {
  content: "\e059";
}
.seosight-button:before {
  content: "\e05a";
}
.seosight-coins:before {
  content: "\e05b";
}
.seosight-graphic:before {
  content: "\e05c";
}
.seosight-graphic-search:before {
  content: "\e05e";
}
.seosight-pie-chart-1:before {
  content: "\e05f";
}
.seosight-pie-graph-2:before {
  content: "\e060";
}
.seosight-pie-graph-split-1:before {
  content: "\e061";
}
.seosight-pin-2:before {
  content: "\e062";
}
.seosight-search-1-1:before {
  content: "\e063";
}
.seosight-settings-symbol-with-up-arrow-in-a-circle:before {
  content: "\e064";
}
.seosight-target-audience:before {
  content: "\e065";
}
.seosight-communication:before {
  content: "\e066";
}
.seosight-mail-send:before {
  content: "\e067";
}