/*styles for carousel*/
.slide1, .slide2, .slide3{
	position: absolute;
	width: 100%;
	height: 100%;
}
.tamil_carousel{
	text-transform: uppercase;
	font-family: verdana;
	color: #fff;
	text-align: center;
}
.slide1{
	background-image: url("SLIDE1.jpg");
	height: 100%;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	animation: fade1 16s infinite;
}
.slide2{
	background-image: url("SLIDE3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	animation: fade2 16s infinite;
}
.slide3{
	background-image: url("SLIDE2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	animation: fade3 16s infinite;
}
/* Keyframes for fading elements */
@keyframes fade1{
	0%{
	    opacity: 1;
	}
	25%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes fade2{
	0%{
	    opacity: 0;
	}
	25%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}
@keyframes fade3{
	0%{
	    opacity: 0;
	}
	25%{
		opacity: 0;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
/* styles for navigation bar */
.navbar{
	opacity:0.5;
}
.dropdown-menu{
	background-color:black;
}
a:hover{
	color:black;
}
.navigate{
	height: 630px;
}
/* styles for the class customcenter */
.customcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* styles for id pencil in products-pencil */
#pencil {
height:500px;
}
	/* styles for id cls_mgt_sys in products-class management system */
#cls_mgt_sys{
	height:500px;
}
/* styles for about content */
#about {
	height:500px;
	background-color:white;
}
/* styles for contact footer */
#contact {
	height:500px;
	color: #fff;
	background-color: black;
	color:white;
}
/* styles for font-face*/
@font-face {
  font-family: "seotheme";
  src:url("fonts/seotheme.eot");
  src:url("fonts/seotheme.eot?#iefix") format("embedded-opentype"),
    url("fonts/seotheme.woff") format("woff"),
    url("fonts/seotheme.ttf") format("truetype"),
    url("fonts/seotheme.svg#seotheme") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="seosight-"]:before,
[class*=" seosight-"]:before {
  font-family: "seotheme" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
